/**
 * Created by liubingwen on 2017/6/20.
 */
@import "./layout/normalize";
@import "./layout/animate";
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset !important;
}
[aspectratio] {
  position: relative;
}
[aspectratio]::before {
  content: '';
  display: block;
  width: 1px;
  margin-left: -1px;
  height: 0;
}

[aspectratio-content] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* iPhone X 独有样式写在这里*/
}
